@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800;900&family=Oswald:wght@200;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary: orangered;
    --bg-opacity: rgba(255, 255, 255, .5);
    --border: rgba(0, 0, 0, .25);
    --bg-black-100: #dddddd;
    --bg-black-50: #e5e5e5;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #979797;
    --bold-text: #130f40;
    --text-black-300: #bbbbbb;
    --box-shadow1: 4px 4px 12px #c0c0c0, -4px -4px 12px #fff;
    --box-shadow2: inset 4px 4px 12px #c0c0c0, inset -4px 4px 12px #fff;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2rem;
    color: var(--primary);
    font-size: 1.2rem;
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--box-shadow1);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    z-index: -1;
}

.hover-in-shadow:hover:after {
    box-shadow: var(--inner-shadow);
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align {
    align-items: center;
}

.flex100 {
    width: 100%;
    flex: 0 0 100%;
}

.flex90 {
    flex: 0 0 90%;
}

.flex80 {
    flex: 0 0 80%;
}

.flex78 {
    flex: 0 0 78%;
}

.flex70 {
    flex: 0 0 70%;
}

.flex66 {
    flex: 0 0 66%;
}

.flex60 {
    flex: 0 0 60%;
}

.flex33 {
    width: 33.33%;
    flex: 0 0 33.33%;
}

.flex30 {
    flex: 0 0 30%;
}

.flex10 {
    flex: 0 0 10%;
}

.flex15 {
    flex: 0 0 15%;
}

.flex25 {
    flex: 0 0 25%;
    width: 25%;
}

.flex55 {
    flex: 0 0 55%;
    width: 55%;
}

.flex47 {
    flex: 0 0 47.5;
    width: 47.5%;
}

.flex45 {
    flex: 0 0 45%;
}

.flex40 {
    flex: 0 0 40%;
}

.flex20 {
    flex: 0 0 20%;
    width: 20%;
}

.flex75 {
    flex: 0 0 75%;
}

.flex50 {
    padding: 2em;
    flex: 0 0 50%;
}

.flex5 {
    flex: 0 0 5%;
}

.flex2 {
    flex: 0 0 2%;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.active {
    position: relative;
}

body.active::before {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

::-webkit-scrollbar {
    background: var(--bg-black-50);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg-black-50);
}

body.dark {
    --bold-text: #ffffff;
    --border: rgba(255, 255, 255, .25);
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, .5);
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --box-shadow1: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}

body.clay {
    --bold-text: #ffffff;
    --border: rgba(255, 255, 255, .25);
    --bg-black-100: #353535;
    --bg-black-50: #3F51B5;
    --bg-opacity: rgba(43, 44, 47, .5);
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --box-shadow1: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}

body.dark {
    --bold-text: #ffffff;
    --border: rgba(255, 255, 255, .25);
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, .5);
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}

body.hidden-scrolling {
    overflow-y: hidden;
}

.leftSideBar {
    position: fixed;
    left: 0;
    width: 17%;
    background: var(--bg-black-50);
    box-shadow: var(--inner-shadow);
    height: 100%;
    padding: 2rem;
    z-index: 99999;
    transition: .5s ease;
}

.leftSideBar.active {
    left: 0;
    /* width: 50% !important; */
}

.newProject {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    border-radius: 0rem .2rem .2rem 0rem;
    background: var(--primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftSideBar .socialLinks {
    /* background: var(--primary); */
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: absolute;
}

.socialLinks a {
    color: var(--text-black-600);
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    transition: .5s ease;
}

.socialLinks a:hover {
    transform: translateY(-10px);
    color: var(--primary);
}

.newProject h2 {
    font-size: 1rem;
    /* width: ; */
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 700;
}

.closeToggle i {
    display: inline-block;
    font-size: 1.5rem !important;
}

.newProject i {
    color: #fff;
    font-size: 1rem;
    margin-right: .3rem;
}

.leftSideBar .title a {
    font-size: 1.8rem;
    box-shadow: var(--inner-shadow);
    display: block;
    width: 100%;
    color: var(--primary);
    padding: .8rem;
    border-radius: 2rem;
}

.leftSideBar ul {
    margin: 6rem auto 0;
}

ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border);
    transition: .5s ease;
}

ul li span:not(.las) {
    transition: .5s ease;
    color: var(--text);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: inline-block;
    margin-left: .4rem;
    font-size: 1.4rem;
    border-radius: 30px;
    color: var(--text-black-600);
}

ul li span.las {
    width: 0;
    overflow: hidden;
    color: var(--bold-text);
    transition: .5s ease;
    font-size: 1.4rem;
}

ul li a.activeItem span.las,
ul li:hover span.las {
    width: 30px !important;
}

ul li:hover span {
    color: var(--primary);
}

ul li a.activeItem span {
    color: var(--primary);
    /* transform: translateX(40px); */
}

section {
    padding: 2rem 0;
    background: var(--bg-black-50);
    box-shadow: var(--outer-shadow);
    width: 83%;
    /* height: 100vh; */
    margin-left: 19%;
    position: relative;
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.section-title {
    margin-bottom: 2em;
    text-align: center;
    flex: 0 0 100%;
    position: relative;
}

.section-title:hover::after {
    width: 50%;
    right: 0;
}

.section-title::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -10px;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: linear-gradient(to left, var(--primary), #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
    transform: translateX(-50%);
    animation: fun 8s linear infinite;
}

@keyframes fun {
    from {
        width: 0;
        filter: hue-rotate(180deg);
    }
    to {
        filter: hue-rotate(360deg);
        width: 30%;
    }
}

.section-title h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--bold-text);
}

.section-title h3 {
    color: var(--primary);
    font-size: 1.6rem;
}

.container {
    /* height: 700px; */
    width: 92%;
    border-radius: 1rem;
    margin: 0 auto;
    /* background: #eaeaea; */
    padding: 2rem;
}

.hero {
    padding: 1rem 0;
}

.hero .home-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: var(--bold-text);
}

.home-text h2>span {
    color: var(--primary);
}

.home-text strong {
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--primary);
}

.home-text strong>span {
    color: var(--bold-text);
}

.home-text p {
    margin: 1.4rem 0 1rem;
    font-weight: 400;
    color: var(--text-black-600);
    font-size: .95em;
    line-height: 28px;
}

.home-text p>a {
    padding: 10px !important;
}

.home-text ol li {
    display: inline-block;
    padding: .5rem;
    margin: 0rem .5em 1rem 0rem;
    color: var(--text-black-700);
}

.hero .home-image {
    background: var(--bg-black-50);
    padding: 2rem;
    border-radius: 1.2rem;
    /* box-shadow: var(--inner-shadow); */
}

.img-box {
    padding: 15px;
    display: block;
    margin: auto;
}

.hero .btn {
    margin-top: 1.7rem;
    border-radius: .5rem;
}

.service-item {
    padding: .8rem;
}

.service-inner {
    transition: .5s ease;
    box-shadow: var(--outer-shadow);
    width: 100%;
    padding: 2rem 2rem;
    text-align: left;
    border-radius: .5rem;
    cursor: pointer;
}

.service-inner i {
    font-size: 2.2rem;
    transition: .5s ease;
    color: var(--primary);
}

.service-inner h2 {
    color: var(--bold-text);
    font-size: 1.5rem;
    transition: .5s ease;
    margin: 1rem 0;
    text-transform: capitalize;
}

.service-inner p {
    font-size: 1rem;
    color: var(--text-black-600);
    transition: .5s ease;
    line-height: 1.5;
}

.service-inner:hover {
    background: var(--primary);
    transform: scale(1.05);
}

.education-inner:hover h2,
.education-inner:hover h3,
.service-inner:hover i,
.service-inner:hover h2,
.service-inner:hover p {
    color: #fff;
    transform: translateY(-1.2rem);
}

.education-inner:hover p {
    color: #fff;
    transform: translateY(1rem);
}

.education-inner:hover .date {
    box-shadow: none;
}

.portfolio-section {
    box-shadow: var(--outer-shadow);
    /* padding: 80px 0 80px; */
    margin-left: 19%;
    /* height: 100% !important; */
}

.portfolio-section .portfolio-item {
    /* margin-bottom: 20px; */
}

.portfolio-section .portfolio-filter {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.portfolio-section .filter-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 10px;
    padding: 10px;
    border-radius: 30px;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 16px;
    transition: all .5s ease;
}

.portfolio-section .filter-item.active {
    color: var(--primary);
}

.portfolio-section .filter-item:hover:not(.active) {
    opacity: .7;
}

.portfolio-item-img img {
    width: 500px;
    height: 281px;
}

.portfolio-section .portfolio-item {
    flex: 0 0 33.33%;
    width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide {
    display: none;
}

.portfolio-section .portfolio-item.show {
    display: block;
    animation: fadeInTop .5s ease;
}

about-section {
    display: block;
    animation: fadeInTop .6s ease;
}

.portfolio-section .portfolio-item-inner {
    cursor: pointer;
    width: 100%;
    box-shadow: var(--outer-shadow);
    border-radius: 10px;
    padding: 1rem;
}

body.dark .team-image img,
body.dark .blog-image img,
body.dark .portfolio-section .portfolio-item-img img {
    filter: grayscale(100%) brightness(80%);
}

body.dark .team-inner:hover img,
body.dark .blog-inner:hover img,
body.dark .portfolio-section .portfolio-item-img img:hover {
    filter: grayscale(00%) brightness(100%) !important;
}

.portfolio-section .portfolio-item-img img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    transition: all .5s ease;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
    transform: translateY(-15px);
}

.portfolio-section .portfolio-item-img {
    position: relative;
    overflow: hidden;
}

.portfolio-section .portfolio-item-img:before {
    width: 00%;
    content: "";
    background-color: #130f40;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s ease;
    opacity: 0;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img::before {
    opacity: .7;
    z-index: 222;
    width: 100%;
}

.portfolio-section .portfolio-item-details {
    display: none;
}

.portfolio-section .portfolio-item-img .view-project {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    transition: .5s ease-in-out .2s;
    position: absolute;
    left: 15px;
    opacity: 0;
    bottom: 50px;
    z-index: 444;
    transform: translateX(-50px);
}

.portfolio-section .portfolio-item-inner:hover .view-project {
    transform: translateX(0px);
    opacity: 1;
}

.portfolio-section .portfolio-item-inner p {
    font-size: 16px;
    margin: 10px 0 0;
    ;
    color: var(--text-black-700);
}


/* portfolio popup */

.portfolio-popup {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 1000;
    background-color: var(--bg-black-50);
    opacity: 0;
    transition: all .5s ease;
    visibility: hidden;
    cursor: pointer;
}

.portfolio-popup.open {
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    background-color: var(--bg-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.portfolio-popup .pp-loader.active {
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader div {
    height: 40px;
    border: 3px solid var(--primary);
    width: 40px;
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin 2s linear infinite;
}

.portfolio-popup .pp-details {
    /* background-color: red; */
    max-width: 1350px;
    width: calc(85% + 30px);
    margin: auto 0;
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    transition: all .7s ease;
}

.portfolio-popup .pp-details.active {
    opacity: 1;
    visibility: visible;
}

.portfolio-popup .pp-details-inner {
    padding: 30px 0;
}

.portfolio-popup .seperator {
    width: 100%;
    height: 1px;
    display: block;
    background-color: var(--bg-black-100);
}

.portfolio-popup .pp-project-details-btn h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    text-transform: capitalize;
    margin: 0 0 15px;
}

.portfolio-popup .description {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;
}

.portfolio-popup .description {
    font-size: 16px;
    color: var(--text-black-600);
}

.portfolio-popup .pp-title {
    padding: 0 15px;
}

.portfolio-popup .pp-details h2 {
    font-size: 28px;
    color: var(--text-black-700);
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 5px;
}

.portfolio-popup .pp-details p {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 15px;
    border-bottom: 1px solid var(--bg-black-100);
    padding-bottom: 10px;
}

.portfolio-popup .pp-details p span {
    font-weight: 400;
    margin-top: -10rem;
}

.portfolio-popup .info {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 15px;
}

.portfolio-popup .info ul li {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-black-600);
}

.portfolio-popup .info ul li a {
    color: var(--primary);
}

.portfolio-popup .info ul li span {
    font-weight: 400;
}

.portfolio-popup .info ul li:last-child {
    margin-bottom: 0;
}

.portfolio-popup .pp-img {
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 5px;
}

.portfolio-popup .pp-main {
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-popup .pp-main-inner {
    padding: 70px 0 50px;
    position: relative;
}

.portfolio-popup .pp-project-details-btn {
    position: absolute;
    left: 0;
    top: 15px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    padding: 0 15px;
    cursor: pointer;
    transition: all .5s;
}

.portfolio-popup .pp-project-details-btn i {
    margin-left: 5px;
}

.portfolio-popup .pp-project-details-btn:after {
    border-radius: 30px;
}

.portfolio-popup .pp-close {
    border-radius: 50%;
    font-size: 35px;
    right: 0;
    position: absolute;
    width: 40px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    top: 15px;
    cursor: pointer;
    color: var(--text-black-600);
    transition: all .5s ease-in-out;
}

.toggler,
.switch {
    z-index: 99999999;
    position: fixed;
    /* left: 400px; */
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    right: 20px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    height: 50px;
    top: 15px;
    /* padding: 2rem; */
    cursor: pointer;
    color: var(--text-black-600);
    transition: all .5s ease-in-out;
    /* background-color: #f00; */
}

.fixed {
    top: 0%;
    position: fixed;
    left: 0%;
    /* display: block !important; */
    background: var(--bg-black-50);
    box-shadow: var(--inner-shadow);
    z-index: 9999;
    width: 100%;
    height: 60px;
    display: none;
    align-items: center;
}

.toggler.none,
.switch.none {
    display: none;
}

.toggler {
    left: 10%;
    display: none;
}

.newProject .closeToggle {
    display: none;
    cursor: pointer;
}

.portfolio-popup .pp-close:after {
    border-radius: 50%;
}

.portfolio-popup .pp-counter {
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 40px;
    bottom: 5px;
    font-size: 16px;
    color: var(--text-black-600);
}

.portfolio-popup .pp-prev,
.portfolio-popup .pp-next {
    position: fixed;
    top: 50%;
    height: 40px;
    width: 40px;
    /* text-align: center;
    line-height: 40px; */
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1010;
    opacity: .5;
    transition: all .5s ease;
    color: var(--text-black-700);
}

.portfolio-popup .pp-prev {
    left: 15px;
}

.portfolio-popup .pp-next {
    right: 15px;
    color: turquoise;
}

.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover {
    opacity: 1;
}

.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i {
    /* line-height: 40px; */
}

.portfolio-popup .pp-prev i {
    transform: rotate(180deg);
}

.move-up {
    position: fixed;
    bottom: 30px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 50%;
    /* background:#c824f7; */
    z-index: 121212;
    transition: all .5s linear;
}

.move-up:hover:after {
    border-radius: 50%;
}

.move-up span {
    /* display: flex; */
    /* justify-content: center; */
    line-height: 50px;
    font-size: 25px;
    color: var(--primary);
}

.resumeBox {
    height: 100%;
    overflow: hidden;
    margin-top: 7rem;
    transition: .5s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.resumeBox.active {
    animation: fadeInTop2 2s ease;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.resumeBox.active .resumeContent {
    transform: translateY(0);
}

.resumeBox .resumeContent {
    transform: translateY(50px);
    transition: .5s ease .5s;
}

.resumeBox.active .skill_item,
.resumeBox.active .row.flat {
    opacity: 1;
    transform: translateY(0);
}

.resumeBox .skill_item,
.resumeBox .row.flat {
    transform: translateY(2rem);
    transition: .5s ease .4s;
    opacity: 0;
}

@keyframes fadeInTop2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

.about-tabs {
    position: absolute;
    top: 4rem;
    flex: 0 0 100%;
    text-align: center;
}

.about-tabs .tab-item {
    cursor: pointer;
    display: inline-block;
    padding: 1.5em;
    box-shadow: var(--inner-shadow);
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--bold-text);
}

.tab-item.active {
    color: #fff;
    box-shadow: none;
    background-color: var(--primary);
}

.resumeBox .skilly {
    /* width: 150% !important; */
    display: flex;
    /* background-color: #f0f; */
}

.skills .resumeContent {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
}

.skill_item {
    flex: 0 0 50%;
    height: 33rem;
    padding: 15px;
    width: 50%;
}

.skill_item .technical_skill,
.skill_item .soft_skill {
    background: var(--bg-black-50);
    box-shadow: var(--inner-shadow);
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.skill_box {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

.skill-progress {
    /* background: blue; */
    height: 3px;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
}

.skill_item h3.title {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 3rem;
    margin-bottom: 2rem;
    color: var(--primary)
}

.skill_box .skill_bar {
    position: absolute;
    height: 3px;
    ;
    background: var(--primary);
    /* animation-iteration-count: infinite; */
}

.skill_box .skill_bar.animate {
    animation: moveSide 1.5s linear;
}

.skill_box h3 {
    padding: 5px;
    font-size: 18px;
    color: #999;
    font-weight: 300;
}

.skill_box .skill_bar::before {
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primary);
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skill_box:nth-child(2) .skill_bar::before {
    background: var(--primary);
}

.skill_box:nth-child(3) .skill_bar::before {
    background: var(--primary);
}

.skill_box:nth-child(4) .skill_bar::before {
    background: var(--primary);
}

@keyframes moveSide {
    from {
        width: 0;
    }
}

.education-inner {
    padding: 1.5rem;
    box-shadow: var(--outer-shadow);
    border-radius: .5rem;
    position: relative;
    transition: .5s ease;
    cursor: pointer;
}

.education-inner:hover {
    background: var(--primary);
    transform: translateY(-.85rem)
}

.education-item {
    position: relative;
    margin-bottom: 1rem;
}

.education-inner .dot {
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -28px;
    /* background: var(--primary); */
    width: 20px;
    border-radius: 50%;
    color: var(--primary);
    /* background: var(--bg-black-50); */
    opacity: .5;
    content: "";
    position: absolute;
    box-shadow: var(--inner-shadow);
}

.education-inner::after {
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    width: 40px;
    border-radius: 50%;
    /* background: var(--bg-black-50); */
    content: "";
    position: absolute;
    box-shadow: var(--box-shadow2);
    opacity: .6;
}

.flat::before {
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 4px;
    /* border-radius: 50%; */
    /* background: var(--bg-black-50); */
    content: "";
    opacity: .3;
    position: absolute;
    box-shadow: var(--box-shadow2);
    /* background-color: #f00; */
}

.flat {
    position: relative;
}

.education-inner h2 {
    font-size: 1.2rem;
    color: var(--bold-text);
    font-weight: 500;
    transition: .5s ease;
}

.education-inner h3 {
    transition: .5s ease;
    color: var(--text-black-600);
    margin: .5rem 0;
}

.education-inner p {
    color: #999;
    transition: .5s ease;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.education-inner .row {
    align-items: center;
    transition: .5s ease;
}

.education-inner .date {
    background: var(--bg-black-50);
    box-shadow: var(--inner-shadow);
    padding: 10px;
    border-radius: 30px;
    margin-left: 1.8rem;
    color: var(--text-black-600);
}

.price-item {
    padding: 10px;
}

.price-item .price-inner {
    padding: 2rem 2rem;
    /* box-shadow: var(--inner-shadow); */
    text-align: center;
    width: 100%;
    border-radius: 8px;
    transition: .5s ease;
}

.price-item .price-inner .price-price {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: var(--border);
}

.price-item .price-inner .price-price h2 {
    font-size: 18px;
    letter-spacing: 1.1px;
    color: var(--bold-text);
    margin-bottom: .8rem;
}

.price-item .price-inner .price-price span {
    font-size: 28px;
    width: 50px;
    height: 50px;
    box-shadow: var(--outer-shadow);
    display: inline-block;
    line-height: 50px;
    border-radius: .5em;
    text-align: center;
    margin-right: .1em;
    color: var(--primary);
}

.price-item .price-inner .price-price p.price {
    font-size: 28px;
    color: var(--bold-text);
    font-weight: bold;
}

.price-item .price-inner ul {
    margin: .25rem 0 2rem;
    padding: 0;
}

.price-item .price-inner ul li {
    display: block;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: .8rem;
    color: var(--text-black-600);
    font-size: 16px;
    cursor: pointer;
}

.price-item .price-inner ul li>i {
    margin-right: .8rem;
}

.price-item .price-inner {
    position: relative;
    overflow: hidden;
}

.price-item .price-inner .purchase {
    position: absolute;
    right: -45px;
    top: 20px;
    background: var(--primary);
    padding: 0rem;
    width: 150px;
    transform: rotate(45deg);
}

.price-item .price-inner h3 {
    font-size: 14px;
    color: #fff;
}

.price-inner .btn {
    display: block;
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.1em;
}

.team-item {
    border-radius: .6rem;
    /* box-shadow: var(--inner-shadow); */
    flex-direction: column;
    display: flex;
}

.team-inner .btn {
    box-shadow: none;
    padding: 0;
}

.team-item:nth-child(6),
.team-item:nth-child(7),
.team-item:nth-child(8),
.team-item:nth-child(1) {
    grid-column: span 2;
}

.team-item:nth-child(6) .team-inner .team-text,
.team-item:nth-child(7) .team-inner .team-text,
.team-item:nth-child(8) .team-inner .team-text,
.team-item:nth-child(1) .team-inner .team-text {
    line-height: 25px;
}

.team-item .team-image img,
.team-item:nth-child(6) .team-image img,
.team-item:nth-child(7) .team-image img,
.team-item:nth-child(8) .team-image img,
.team-item:nth-child(1) .team-image img {
    width: 60px;
    object-fit: cover;
    height: 60px;
    margin-right: 2rem;
    border-radius: 50%;
}

.team-image {
    margin-bottom: 1rem;
    display: flex !important;
    flex-wrap: nowrap;
    align-items: center !important;
}

.team-desc h2 {
    font-size: 1rem;
    color: var(--bold-text);
    font-weight: 500;
    margin-bottom: .2rem;
}

.team-desc h3 {
    font-weight: 500;
    font-size: .9rem;
    color: var(--primary);
}

.team-text {
    color: var(--text-black-600);
    line-height: 24px;
    font-size: .9rem;
    font-weight: 400;
}

.team-item:nth-child(3) {
    grid-row: span2;
}

.friends {
    height: 100%;
}

.friends .team-inner {
    padding: 1rem;
}

.team-inner .socialLinks,
.team-inner .ratings {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.team-inner .socialLinks a {
    display: inline-block;
    font-size: .9rem;
}

.team-inner .ratings {
    order: 2;
    display: none;
}

.testimonial-section {
    position: relative;
    overflow: hidden !important;
}

.testimonial-section .testi-slider {
    border-radius: 5px;
    margin-top: 4rem;
    /* background-color: #f00; */
    overflow: hidden;
}

.testimonial-section .testi-slider-container {
    display: flex;
    transition: margin 1s ease;
    align-items: center;
}

.testimonial-section .testi-box {
    padding: 0 15px;
    width: 100%;
    margin: auto;
    max-width: 600px;
    /* overflow: ; */
}

.testimonial-section .testi-item {
    text-align: center;
    padding: 40px;
    position: relative;
}

.testimonial-section .testi-item i {
    position: absolute;
    font-size: 40px;
    color: var(--text-black-700);
    opacity: .2;
}

.testimonial-section .testi-item i.left {
    left: 10px;
    top: 10px;
}

.testimonial-section .testi-item i.right {
    bottom: 10px;
    right: 10px;
}

.testimonial-section .testi-item p {
    font-size: 17px;
    margin: 0 0 30px;
    line-height: 26px;
    color: var(--text-black-600);
}

.testimonial-section .testi-item span {
    margin: 15px 0 0;
    font-weight: 600;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    display: block;
}

.testimonial-section .testi-slider-nav {
    margin-top: 30px;
    text-align: center;
}

.testimonial-section .testi-slider-nav span {
    height: 40px;
    width: 40px;
    color: var(--primary);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 50%;
    margin: 0 4px;
}

.testimonial-section .testi-slider-nav span:after {
    border-radius: 50%;
}

.testimonial-section .testi-slider-nav span i {
    line-height: 40px
}

.effect4,
.effect1 {
    position: absolute;
    left: 5%;
    top: 10%;
    overflow: hidden;
    transform: rotate(-35deg);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    border: 2px solid transparent;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.effect4 {
    top: 20%;
    left: 90%;
    /* border: 10px solid red; */
}

.effect5 {
    top: 10%;
    left: 70%;
}

.effect5 {
    width: 120px;
    /* background: red; */
    height: 80px;
    position: absolute;
}

.effect5 div {
    width: 4px;
    margin-right: .3rem;
    height: 4px;
    transform: rotate(25deg);
    margin-bottom: -1rem;
    display: inline-block;
    background: #673AB7;
}

.effect4 div,
.effect1 div {
    width: 100%;
    height: 4px;
    animation: 3s fun3 linear infinite;
    margin: .5rem 0;
    animation-delay: calc(var(--b) * 0.21s);
    display: block;
    opacity: .8;
    background: radial-gradient(#ff7300, rgba(0, 0, 151, .8), rgba(151, 34, 162, .8), #f0f);
}

.effect4 div {
    /* top: 50%; */
    opacity: .2;
    background: var(--primary) !important;
    animation: fun5 3s linear infinite !important;
    animation-delay: calc(var(--b) * 0.21s);
}

.effect2 .box {
    top: 60%;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: linear-gradient(to left, var(--primary), #f9dd94 100%);
    border-radius: 50%;
    opacity: .8;
    /* display: none; */
    left: 0;
    animation: fun4 8s linear infinite;
}

.effect2 .box::before {
    width: 60%;
    height: 60%;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 50%;
    /* animation: fun4 8s linear infinite; */
}

@keyframes fun4 {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

@keyframes fun3 {
    from {
        opacity: 1;
        filter: hue-rotate(180deg);
        transform: translateY(-10px);
    }
    to {
        filter: hue-rotate(360deg);
        opacity: .3;
        transform: translateY(0);
    }
}

@keyframes fun5 {
    from {
        filter: hue-rotate(120deg);
        opacity: .7;
        transform: translateY(50px);
    }
    to {
        filter: hue-rotate(270deg);
        opacity: .3;
        transform: translateY(0);
    }
}

.effect3 .effect_1,
.effect3 .effect_2 {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    box-shadow: var(--outer-shadow);
}

@keyframes fun6 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0);
    }
}

@keyframes fun7 {
    0%,
    100% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(0);
    }
}

.effect_1 {
    background: #ff7300;
    opacity: .5;
    box-shadow: var(--shadow);
    animation: 4s fun6 linear infinite;
    left: 20%;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.effect_2 {
    animation: 4s fun7 linear infinite;
    border-radius: 50%;
    background: var(--primary);
    ;
    border: 1px solid #f0f0f0;
    padding: 5px;
    right: 20%;
}

.effect6 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 200px;
}

.effect6 div {
    transform: skew(40deg);
    width: 2px;
    height: 110px;
    display: inline-block;
    margin-right: .3rem;
    background: var(--primary);
    opacity: .6;
}

.effect7 {
    position: absolute;
    top: 90%;
    left: 20%;
    width: 110px;
    height: 300px;
    /* background: black; */
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    /* transform: rotate(135deg); */
    /* line-height: 200px; */
}

.effect7 div {
    width: 4px;
    height: 4px;
    margin-right: .3rem;
    display: inline-block;
    background: #777;
}


/* contact section */

.contact-section {
    min-height: 100vh;
    padding: 80px 0 80px;
}

.contact-section .contact-item {
    flex: 0 0 33.33%;
    width: 33.33%;
    padding: 15px;
    position: relative;
    display: flex;
}

.contact-section .contact-item-inner:before i {
    transform: translateY(-100%);
}

.contact-section .contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    width: 100%;
    transition: .5s ease;
}

.contact-section .contact-item-inner:hover {
    transform: scale(1.1);
}

.contact-section .contact-item-inner:hover i,
.contact-section .contact-item-inner:hover p,
.contact-section .contact-item-inner p>a,
.contact-section .contact-item-inner:hover span {
    transform: translateY(-1rem);
}

.contact-section .contact-item-inner i {
    font-size: 23px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 5px;
    width: 50px;
    box-shadow: var(--outer-shadow);
    border-radius: 50%;
    color: #fff;
    transition: .5s ease;
    cursor: pointer;
    -webkit-text-stroke: .1rem var(--text-black-600);
}

.contact-section .contact-item-inner:hover i {
    /* border: 3px solid #fff; */
}

.contact-section .contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 15px 0 5px;
    transition: .5s ease;
}

.contact-section .contact-item-inner p {
    font-size: 15px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
    transition: .5s ease;
    /* word-break: break-word; */
}

.contact-section .contact-item-inner p>a {
    color: var(--text-black-600);
    transition: .5s ease;
}

.contact-section .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-section .w-50 {
    padding: 0 15px;
    flex: 0 0 50%;
    width: 50%;
    margin-top: 50px;
}

.contact-section .input-group {
    margin: 0 0 25px;
    transition: all .5s ease;
    border-radius: 30px;
}

.contact-section .input-group:after {
    border-radius: 30px;
}

.contact-section .input-group .input-control {
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    line-height: 45px;
    font-size: 18px;
    padding: 0 15px;
    color: var(--text-black-700);
}

.contact-section .input-group textarea.input-control {
    height: 180px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-section .submit-btn {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 15px;
}

.btn-1 {
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;
    transition: all .5s ease;
}

.btn-1:after {
    border-radius: 30px;
}

.mapSection {
    padding: 0 !important;
    /* background-color: #f00; */
}

.mapSection .container {
    /* margin-left: -1rem !important; */
    padding: 2rem !important;
}

.mapSection .map {
    width: 100%;
    /* box-shadow: var(--outer-shadow); */
    /* padding: 2em; */
    height: 35rem;
    border-radius: .5rem;
}

.copy {
    display: flex;
    justify-content: center;
    padding: 3rem 5em;
    text-align: center;
    color: var(--text-black-600);
    font-weight: 500;
    opacity: .5;
    background-color: var(--bg-black-50);
    /* box-shadow: var(--inner-shadow); */
    cursor: pointer;
    margin-left: 7em;
}

.copy span {
    color: var(--primary);
    margin-left: 1rem;
}

.blog-item {
    flex: 0 0 33.33%;
    width: 33.33%;
    /* margin-bottom: 1.5rem; */
    padding: 15px;
}

.blog-inner {
    /* background: var(--primary); */
    box-shadow: var(--outer-shadow);
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.blog-info {
    padding: .8rem 1rem;
}

.blog-image {
    overflow: hidden;
    position: relative;
    height: 15rem;
}

.blog-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    /* transition-delay: 0s; */
    border-radius: 8px;
}

.blog-inner:hover .blog-image img {
    transition: .5s ease;
    transform: scale(1.3);
    filter: brightness(50%);
}

.blog-overlay a {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 30px;
    margin-bottom: .7rem;
    height: 30px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    height: 100%;
}

.blog-image img {
    height: 100%;
    width: 100%;
}

.blog-date {
    display: flex;
    margin: .5rem 0rem;
    /* padding: 1rem; */
}

.blog-links {
    margin: 2rem 0 1rem;
}

.blog-date a {
    margin-right: 2rem;
    font-size: 18px;
    color: var(--bold-text);
}

.blog-date h4 {
    color: var(--primary);
    font-size: 17px;
}

.blog-links a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--text-black-700);
    font-size: 22px;
    text-align: center;
    transition: .2s linear;
}

.blog-links a:hover {
    transform: translateY(-5px);
    color: var(--primary);
}

.blog-text p {
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 15px;
    color: var(--text-black-600);
    font-weight: 500;
    margin-bottom: 1rem;
}

.blog-text .btn {
    margin: 1rem 0;
    display: block;
    margin: 1.5rem auto 0;
    width: fit-content;
    /* padding: .8rem .4rem; */
}

.blog-overlay {
    position: absolute;
    right: 0;
    border-radius: 2px;
    top: 0;
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--primary);
    /* filter: ; */
    transform-origin: bottom;
    opacity: 0.9;
    transition: all .5s ease;
}

.blog-inner:hover .blog-overlay {
    width: 20%;
    /* clip-path: circle( ); */
}

.links {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    /* transform: translate(-50%, -50%); */
}

.links a {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 35px;
    display: block;
    background: #fff;
    transition: all .3s ease-in-out;
    transform: scale(0);
    transition-delay: 0s;
    color: var(--primary);
    transform-origin: left;
}

.blog-inner:hover .blog-image .links a {
    transform: scale(1);
    transition-delay: calc(var(--a) * 0.2s);
}

.blog-inner:hover .links a {
    /* transform: translateX(0); */
}

.blog {
    padding-bottom: 2rem;
}